:local(.dropdownButton) {
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  display: inherit;
}

:local(.dropdownButton):hover {
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  display: inherit;
}

:local(.overrideDropdown) {
  display: inherit;
}

:local(.overrideDropdown):hover {
  cursor: pointer;
}

:local(ul.overrideMenu) {
  padding: 5px;
  min-width: 0px;
}

:local(ul.overrideMenu):hover {
  cursor: pointer;
}
