:local(.pagination) {
  width: 100%;
  color: white;
  text-align: center;
  border: 2px solid transparent;
  -webkit-transition : border 100ms ease-out;
  -moz-transition : border 100ms ease-out;
  -o-transition : border 100ms ease-out;
  transition : border 100ms ease-out;
}

:local(.pagination):hover {
  width: 100%;
  color: white;
  text-align: center;
  cursor: pointer;
  border-color: #B3C0E0;
}
